@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400;1,700&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--soft--color--gray);
  overflow-x: hidden;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main--color--red: #d33152;
  --hard--color--red: #6f051a;
  --mid--color--red: #d76078;
  --soft--color--red: #f7dfe4;
  --like--color--red:#FD6C67;

  --main--color--gray: #afaaabb3;
  --soft--color--gray: #ECEFF1;
  --hard--color--gray: #898888;
  

  
  --main--color--blue: rgb(77, 130, 255);
  --hard--color--blue:#253238;
  --soft--color--blue: #607D8B;
  --light--color--blue:#c1cbd0bc;

  --category--color--orange:#FF9801;
  --category--color--salmon:#FF6B67;
  --category--color--yellow:#E0FFB1;
  --category--color--pink:#FFCFE7;
  --category--color--green:#00FFD3;
  --category--color--orange2:#efb154;
}